{# app/Resources/TwigBundle/views/Exception/error404.html.twig #} 

{% extends "CoreBundle::layout.html.twig" %} 

{% block title %} 
	Erreur404 - {{ parent() }} 
{% endblock %} 


{% block titlepage %}
	<h1 style="text-align: center;">Erreur</h1>
{% endblock %}

{% block core_body %}

<div class="well">
	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img src="{{asset('assets/img/oiseaux1.jpg')}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

			<h3>Désolé !</h3>
			<br />
			<div class="erreur">
				<h4>La page que vous recherchez est introuvable.</h4>
				
				<h4>Notre application a retourné une erreur {{ status_code }} : {{ status_text }}.</h4>
				<br />
				<h4>Nous avons mis nos meilleurs éléments sur l'affaire.</h4>
			</div>
			<br />
			<hr>
			<br />
			<div>
				<a href="{{ path('core_index') }}" class="btn btn-warning">
				 Retour à l'Accueil
				</a>
			</div>

		</div>
	</div>
	
	
</div>

{% endblock %}