{# src/CoreBundle/Resources/views/Front/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block slider %}
	<!-- Caroussel
    ================================================== -->
    <div id="monCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -50px;">
		<!-- Indicateurs -->
		<ol class="carousel-indicators">
			<li data-target="#monCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#monCarousel" data-slide-to="1"></li>
			<li data-target="#monCarousel" data-slide-to="2"></li>
		</ol>
		<!-- Diapositives -->
		<div class="carousel-inner">
			<div class="item">
				<img class="first-slide" src="{{asset('assets/img/slider/bg-4.jpg')}}" alt="First slide">
			</div>
			<div class="item active">
				<img class="second-slide" src="{{asset('assets/img/slider/bg-2.jpg')}}" alt="Second slide">
			</div>
			<div class="item">
				<img class="third-slide" src="{{asset('assets/img/slider/bg-3.jpg')}}" alt="Third slide">
			</div>
		</div>
		<!-- Contrôles -->
		<a class="left carousel-control" href="#monCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			
		</a>
		<a class="right carousel-control" href="#monCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			
		</a>  
		</div>

{% endblock%}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block titlepage %}
<h1 style="text-align: center; margin-top: 20px;">Bienvenue sur le site de l'association "Nos amis les oiseaux"</h1>
{% endblock %}

{% block core_body %}
		
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<i class="fa fa-search fa-5x" aria-hidden="true"></i>
			<h2>Effectuez une recherche</h2>
			<p>Vous désirez identifier une espèce, en savoir plus sur les oiseaux présents autour de vous... N'hésitez pas à faire une recherche !</p>
			<p><a class="btn btn-info" href="{{ path('core_searchEspece') }}" role="button">Recherchez &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<i class="fa fa-eye fa-5x" aria-hidden="true"></i>
			<h2>Ajoutez une observation</h2>
			<p>Par la saisie de vos observations, vous participez à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.</p>
			<p><a class="btn btn-info" href="{{ path('core_observation') }}" role="button">Ajoutez &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<i class="fa fa-users fa-5x" aria-hidden="true"></i>
			<h2>Découvrez l'association</h2>
			<p>Michel Dujardin est le fondateur de l’association NAO (Nos Amis les Oiseaux), regroupant les passionnés d’ornithologie. Il est à l'origine de la mise en place de cette application participative.</p>
			<p><a class="btn btn-info" href="{{ path('core_association') }}" role="button">En savoir plus &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>


{% endblock %}

