{# src/CoreBundle/Resources/views/Front/liste.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Liste des observations - {{ parent() }}
{% endblock %}

{% block titlepage %}
	<div class="row">
        <div class="col-xs-12 col-lg-12 picto">
			<span class="fa fa-search fa-3x"></span>
		</div>
		<div class="col-xs-12 col-lg-12">
			<h1 style="text-align: center;">Liste des observations</h1>
		</div>
	</div>
<style>
	#map {
		height: 300px;
		width: 100%;
	}
</style>
{% endblock %}


{% block core_body %}			
		

<div class="well">
	<div class="row" style="">	
		<div class="col-lg-10 col-lg-offset-1">
			<div class="sub-title">
				<h2>L'Oiseau</h2>
			</div>

			<div class="corps">
				<h2>
					{{ espece.nomVern }}, {{ espece.lbAuteur }}
				</h2>
			</div>
		</div>
	</div>
	<br />
		<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="sub-title">
				<h2>Fiche de l'espèce</h2>
			</div>

			<div class="corps">
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Nom latin de l'espèce</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="lbnom">{{ espece.lbNom }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Auteur</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="lbauteur">{{ espece.lbAuteur }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Nom vernaculaire (FR)</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="lbnomvern">{{ espece.nomVern }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Nom vernaculaire (ENG)</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="nomVernEng">{{ espece.nomVernEng }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Famille</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="famille">{{ espece.famille }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Phylum</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="phylum">{{ espece.phylum }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Classe</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="classe">{{ espece.classe }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Ordre</p>
					<p class="col-lg-5 col-lg-offset-1 color-reponse" id="ordre">{{ espece.ordre }}</p>
				</div>
				<div class="row">
					<p class="col-lg-5 col-lg-offset-1">Lien fiche INPN</p>
					<p class="col-lg-5 col-lg-offset-1" id=""><a id = 'url' href= "" target="_blank">{{ espece.url }}</a></p>
				</div>
			</div>
		</div>
	</div>
	<br />
	
	<!-- Affiche la carte des observations publiées
	=============================================== -->
	{% if listObs is not empty %}
		<div class="row" style="">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="sub-title">
					<h2>Carte</h2>
				</div>
				<button id="lecture" class="col-xs-12 col-lg-12 btn btn-warning">Cliquez pour visualiser les observations sur la carte</button>
				<div class="col-lg-12" id="map" style=""></div>
				<br />
			</div>
		</div>
	{% endif %}
	<br />
	 
	<!-- Affiche la liste des observations publiées
	=============================================== -->
	
	
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="sub-title">
				<h2>Liste des observations</h2>
			</div>
			{% if listObs is empty %}
				<br />
				<h3 style="text-align: center;">Il n’y a pas d’observation enregistrée pour cet oiseau</h3>
			{% endif %}
			{% if listObs is not empty %}
				<div class="table-style2">
					<div class="table-responsive mtb">
						<table class="table table-bordered table-2 table-striped">
							<thead>
								<tr>
									<td class="col-lg-1">Date</td>
									<td class="col-lg-1">Pseudo</td>
									<td class="col-lg-1">Latitude</td>
									<td class="col-lg-1">Longitude</td>
									<td class="col-lg-4">Espèce</td>
									<td class="col-lg-2">Image</td>
								</tr>
							</thead>
							<tbody>
								{% for obs in listObs %}
									<tr>
										<td>{{ obs.date|date('d/m/Y') }}</td>
										<td>{{ obs.user.username }}</td>
										<td>{{ obs.latitude }}</td>
										<td>{{ obs.longitude }}</td>
										<td>{{ obs.espece.nomVern }}, {{ obs.espece.lbAuteur }}</td>
										<td>
											{# On vérifie qu'une image soit bien associée à l'article #}
											{% if obs.image is not null %}
												<div class="modal fade" id="myModal{{ obs.image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
																<h3 class="modal-title">{{ obs.espece.nomVern }}, {{ obs.espece.lbNom }}</h3>
															</div>
															<div class="modal-body">
																<div class="container-fluid">
																	<div class="row">
																		<div class="col-lg-12">
																			<p></p>
																			<img
																				src="{{ asset(obs.image.uploadDir ~ '/' ~ obs.image.id ~ '.' ~ obs.image.url) }}"
																				alt="{{ obs.image.alt }}"
																				class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
																			/>
																		</div>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<!--<button class="btn btn-primary" type="button"><i class="icon icon-check icon-lg"></i> Valide</button>-->
																<button class="btn btn-warning" type="button" data-dismiss="modal">Fermer</button>
															</div>
														</div>
													</div>
												</div>
												<a data-toggle="modal" href="#myModal{{ obs.image.id }}">
													<img
														src="{{ asset(obs.image.uploadDir ~ '/' ~ obs.image.id ~ '.' ~ obs.image.url) }}"
														alt="{{ obs.image.alt }}"
														title="Cliquez pour agrandir l'image"
														height=100
													/>
												</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
<br />
</div>
	

<br /><hr>

<script>
	
	var self = this;
	function initMap(){
		self.map = new google.maps.Map($('#map')[0], {
		center: new google.maps.LatLng(46.606111,1.845278),
		zoom: 5,
		});
	}
	
</script>

{% endblock %}


