{# src/CoreBundle/Resources/views/Front/observation.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Observation - {{ parent() }}
{% endblock %}

{% block titlepage %}
<h2>Ajouter une observation</h2>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}




{% block core_body %}
	<div class="well">
		<h2>Ajouter une observation</h2>
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}
    <div id="nomVern">
      {{ form_widget(form.espece)}}
    </div>
		<div id="dateObs">
			{{ form_label(form.date, "Date : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
			{{ form_errors(form.date) }}

			<div class="col-sm-2">
				{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		{# Génération manuelle et éclatée : #}
		<div class="form-group">
			{# Génération du label. #}
			{{ form_label(form.latitude, "Latitude : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.latitude) }}

			<div class="col-sm-10">
				{# Génération de l'input. #}
				{{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		{# Idem pour un autre champ. #}
		<div class="form-group">
			{{ form_label(form.longitude, "Longitude : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
			{{ form_errors(form.longitude) }}
			<div class="col-sm-10">
				{{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		{{ form_row(form.image) }}
		

		{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
		{{ form_widget(form.save, {'label': 'Soumettre l\'observation', 'attr': {'class': 'btn btn-primary'}}) }}

		{# Génération automatique des champs pas encore écrits.
			Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
			et tous les champs cachés (type « hidden »). #}
		{{ form_rest(form) }}

		{{ form_end(form) }}


	   <div class="col-sm-6" style="">
	    <div id="map"></div>
	    </div>

	</div><br /><hr>
	
{% endblock %}
