{# src/CoreBundle/Resources/views/Front/recherche.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Faire une recherche - {{ parent() }}
{% endblock %}


{% block titlepage %}
<h2 style="text-align: center;">Faire une recherche</h2>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}


{% block core_body %}
<div class="well">
	<h2>Cherchez par espèce</h2>

		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		  	{{ form_label(form.nomVern, "Nom de l'espèce") }}
		 	{{ form_widget(form.nomVern, {
				'attr': {
				   	'data-id': 'dallalien',
				   	'data-url': path('core_ajaxnature')
				   	}
		  		})
			}}

		{{ form_end(form) }}


</div>

<div class="divider-info ptb column-style">
  <div class="sub-title">
    <span>Fiche de l'espèce</span>
  </div>
  <div class="row">
    <div class="col-sm-6">
          <h5>Nom latin de l'espèce</h5>
          <p id="lbnom"></p>
        
          <h5>Auteur</h5>
          <p id="lbauteur"></p>

          <h5>Nom vernaculaire (FR)</h5>
          <p id="lbnomvern"></p>

          <h5>Nom vernaculaire (ENG)</h5>
          <p id="nomVernEng"></p>

          <h5>Famille</h5>
          <p id="famille"></p>

          <h5>Phylum</h5>
          <p id="phylum"></p>

          <h5>Classe</h5>
          <p id="classe"></p>

          <h5>Ordre</h5>
          <p id="ordre"></p>

          <h5>Habitat</h5>
          <p id="habitat"></p>

          <h5>Fr</h5>
          <p id="fr"></p>

          <h5>Lien INPN</h5>
          <p id="url"><a href= ""></a></p>

    </div>
    <div class="col-sm-6" style="">
    <div id="map"></div>
    </div>
  </div>
</div><br /><hr>
<div class="row">

  <div class="col-sm-12">
      <div class="table-style2">
        <div class="sub-title">
          <span>Les observations de l'espèce</span>
        </div>
        <div class="table-responsive mtb">
          <table class="table table-bordered table-2 table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Auteur</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="latitude"></td>
                <td id="longitude"></td>
                <td id="date"></td>

              </tr>
              <tr>
                <td>Row 2 Column 1</td>
                <td>Row 2 Column 2</td>
                <td>Row 2 Column 3</td>

              </tr>
              <tr>
                <td>Row 3 Column 1</td>
                <td>Row 3 Column 2</td>
                <td>Row 3 Column 3</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>


{% endblock %}

