{# src/CoreBundle/Resources/views/Front/recherche.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Faire une recherche - {{ parent() }}
{% endblock %}


{% block titlepage %}
<h2 style="text-align: center;">Faire une recherche</h2>
{% endblock %}


{% block core_body %}
<div class="well">
	<h2>Cherchez par espèce</h2>

		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		  	{{ form_label(form.nomVern, "Nom de l'espèce") }}
		 	{{ form_widget(form.nomVern, {
				'attr': {
				   	'data-id': 'dallalien',
				   	'data-url': path('core_ajaxnature')
				   	}
		  		})
			}}

		{{ form_end(form) }}


</div>

<div class="table-style2">
  <div class="sub-title">
    <span>Table Style #2</span>
  </div>
  <div class="table-responsive mtb">
    <table class="table table-bordered table-2 table-striped">

      <tbody>
        <tr>
          <td>Nom de l'espèce</td>
          <td id="lbnomvern"></td>
        </tr>
        <tr>
          <td>Auteur</td>
          <td id="lbauteur"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

