{# src/CoreBundle/Resources/views/Front/recherche.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Faire une recherche - {{ parent() }}
{% endblock %}


{% block titlepage %}
<h2 style="text-align: center;">Faire une recherche</h2>
{% endblock %}


{% block core_body %}
<div class="well">
	<h2>Cherchez par espèce</h2>

		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		  	{{ form_label(form.nomVern, "Nom de l'espèce") }}
		 	{{ form_widget(form.nomVern, {
				'attr': {
				   	'data-id': 'dallalien',
				   	'data-url': path('core_ajaxnature')
				   	}
		  		})
			}}

		{{ form_end(form) }}


</div>

<div class="table-style2">
  <div class="sub-title">
    <span>Fiche de l'espèce</span>
  </div>
  <div class="table-responsive mtb">
    <table class="table table-bordered table-2 table-striped">

      <tbody>
        <tr>
          <td>Nom latin de l'espèce</td>
          <td id="lbnom"></td>
        </tr>
        <tr>
          <td>Auteur</td>
          <td id="lbauteur"></td>
        </tr>
        <tr>
          <td>Nom vernaculaire (FR)</td>
          <td id="lbnomvern"></td>
        </tr>
        <tr>
          <td>Nom vernaculaire (ENG)</td>
          <td id="nomVernEng"></td>
        </tr>
        <tr>
          <td>Famille</td>
          <td id="famille"></td>
        </tr>
        <tr>
          <td>Phylum</td>
          <td id="phylum"></td>
        </tr>
        <tr>
          <td>Classe</td>
          <td id="classe"></td>
        </tr>
        <tr>
          <td>Ordre</td>
          <td id="ordre"></td>
        </tr>
        <tr>
          <td>Habitat</td>
          <td id="habitat"></td>
        </tr>
        <tr>
          <td>Fr</td>
          <td id="fr"></td>
        </tr>
        <tr>
          <td>Lien INPN</td>
          <td id="url"><a href= ""></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

