{# src/CoreBundle/Resources/views/Back/admin.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h1 style="text-align: center;">Administration</h1>
{% endblock %}


{% block core_body %}
	<div class="well">
		<h2></h2>
		
		<!-- Affiche la liste des observations en attentes
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="sub-title">
					<span>Liste des observations en attentes de validation</span>
				</div>
				<div class="table-style2">
					<div class="table-responsive mtb">
						<table class="table table-bordered table-2 table-striped">
							<thead>
								<tr>
									<td class="col-lg-2">Date</td>									
									<td class="col-lg-4">Espèce</td>
									<td class="col-lg-2">Image</td>
									<td class="col-lg-2">Actions</td>
									<td class="col-lg-2"></td>
								</tr>
							</thead>
							<tbody>
								{% for obs in listObs %}
								<tr>
									<td>{{ obs.date|date('d/m/Y') }}</td>
									<td>{{ obs.espece.nomVern }}, {{ obs.espece.lbAuteur }}</td>
									<td>{{ obs.user.username }}</td>
									<td>
										<a href="{{ path('core_valide_obs', {'id' : obs.id}) }}" class="btn btn-primary">Publier</a>
									</td>
									<td>
										<a href="{{ path('core_delete_obs', {'id' : obs.id}) }}" class="btn btn-danger">Effacer</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			 </div>
		</div>
		
		<!-- Affiche la liste des demandes "Naturaliste"
		================================================ -->
		<div class="row">
            <div class="col-lg-12">
                <div class="sub-title">
                	<span>Liste des demandes de statut "Naturaliste"</span>
              	</div>
				<div class="table-style2">
					<div class="table-responsive mtb">
						<table class="table table-bordered table-2 table-striped">
							<thead>
								<tr>
									<td class="col-lg-4">Pseudo</td>									
									<td class="col-lg-4">Email</td>
									<td class="col-lg-2">Actions</td>
									<td class="col-lg-2"></td>
								</tr>
							</thead>
							<tbody>
								{% for nat in listNats %}
								<tr>
									<td>{{ nat.username }}</td>
									<td>{{ nat.email }}</td>
									<td>
										<a href="{{ path('core_valide_nat', {'id' : nat.id}) }}" class="btn btn-success">Accepter</a>
									</td>
									<td>
										<a href="{{ path('core_valide_nat', {'id' : nat.id}) }}" class="btn btn-danger">Refuser</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}


